<div>
    <button class="button {{modifier}}">{{ text }}</button>
    <a href="#" class="button {{modifier}}">{{ text }}</a>
    <input type="submit" class="button {{modifier}}" value="{{ text }}" />
</div>